
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item-1 {
    background-color: #2B8EAD;
}
.item-2 {
    background-color: #333333;
}
.item-3 {
    background-color: #6F98A8;
}
.item-4 {
    background-color: #333333;
}
.item-5 {
    background-color: #BFBFBF;
}
.item-6 {
    background-color: #EFEFEF;
}
.item-7 {
    background-color: #2F454E;
}
.item-8 {
    background-color: #BFBFBF;
}
.item-9 {
    background-color: #000000;
}

.container {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 960px;
    margin: 0 auto;
    background-color: #EFEFEF;
}

#boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}
.items {
    height: 250px;
    width: calc(100%/3);
    color: #fff;
    font-size: 48px;
    padding: 90px;

}

.right-panel {
    margin: 10px;
}
.right-panel button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #2B8EAD;
    color: #fff;
    border: none;
    border-radius: 10px;
}

@media screen and (max-width: 960px) {
    .container {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        padding: 10px;
    }
    .left-panel {
        order: 2;
        margin: 0;
    }
    .right-panel {
        order: 1;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .right-panel button {
        margin: 5px;
    }
    #boxes {
        flex-direction: column;
        margin-top: 20px;
    }

    .items {
        width: auto;
        color: #000;
        margin-bottom: 10px;
        background: #EFEFEF;
    }
        
    .item-1 {
        border-left: 25px solid #2B8EAD;
    }
    .item-2 {
        border-left: 25px solid #333333;
    }
    .item-3 {
        border-left: 25px solid #6F98A8;
    }
    .item-4 {
        border-left: 25px solid #333333;
    }
    .item-5 {
        border-left: 25px solid #BFBFBF;
    }
    .item-6 {
        border-left: 25px solid #EFEFEF;
    }
    .item-7 {
        border-left: 25px solid #2F454E;
    }
    .item-8 {
        border-left: 25px solid #BFBFBF;
    }
    .item-9 {
        border-left: 25px solid #000000;
    }

}